@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(0, 0, 0);
  --background-start-rgb: rgb(214, 219, 220);
  --background-end-rgb: rgb(255, 255, 255);
  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(255, 255, 255);
    --background-start-rgb: rgb(0, 0, 0);
    --background-end-rgb: rgb(0, 0, 0);
  }
}

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }

  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }

  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }

  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }

  .text-outline {
    -webkit-text-stroke: 1px #ffffff;
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px #00ff99;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #27272c;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background: #3f3f46;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #52525b;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
